:root{
    --font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.color-flip{
    text-align: center;
}

button{
    background-color: none;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 10px;
    padding: 15px;
    gap: 16px;
    border: 2px solid orangered;
    place-items: center;
}