:root{
    --font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 5px purple;
    border: 1px solid lightblue;
    place-items: center;
}

#action-btns{
    display: flex;
    gap: 10px;
}

button:hover{
    border: 1px solid orange;
}

button{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
}

@media screen and (max-width:799px) {
    .counter{
       min-width: 300px;
    }
}