*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.deadline{
    display: flex;
    width: 75%;
    gap: 2rem;
    margin-top: 10px;
}

.gift-info p{
    padding-top: 10px;
}

.deadline-format{
    background-color: black;
    color: white;
    flex: 1;
    padding: 10px 5px;
    text-align: center;
}

.deadline-format h4{
    font-size: x-large;
}

.section-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 95vw;  
}

.giveaway{
    letter-spacing: 2px;
}

.gift-img img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width:800px){
  .section-center{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90vw;  
   }
}